<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.mapper.HistoryMapper">

    <resultMap id="historyMap" type="com.springboot.pojo.History">
        <id property="id" column="id"/>
        <result property="date" column="date"/>
        <association property="user" javaType="com.springboot.pojo.User">
            <id property="userId" column="user_id"/>
            <result property="userName" column="user_name"/>
        </association>
        <association property="film" javaType="com.springboot.pojo.Film">
            <id property="filmId" column="film_id"/>
            <result property="filmName" column="film_name"/>
        </association>
    </resultMap>

    <select id="listHistory" resultMap="historyMap">
        select h.id,h.date,f.film_name from history h
        join film f on h.film_id = f.film_id where h.user_id = #{userId}
    </select>


    <insert id="add" >
        insert into history(user_id,film_id) values (#{userId},#{filmId})
    </insert>

    <delete id="clearHistory" parameterType="com.springboot.pojo.History">
        delete from history where user_id = #{userId}
    </delete>

</mapper>